<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>

<div class="table-responsive dt-jqueryui">
  <table class="table display dataTable" id="tasks-datatable" >
    <thead>
      <tr>
        <th>Name</th>
        <th>Content</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>

    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Task', new_task_path %>
